.spinner {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  border: 0.25em solid #f3f3f3;
  border-top: 0.25em solid #007bff;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;

  &.large {
    width: 5rem;
    height: 5rem;
    border-width: 0.5em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
